# Ignore everything
*

# Allow directories
!*/

# Allow project folders
!climbing_performance/
!climbing_performance/**
!notebooks/
!notebooks/**
!tests/
!tests/**

# Allow root files
!.gitignore
!LICENCE
!readme.md
!main.py
!pyproject.toml

# --- IMPORTANT: override whitelist for cache ---
__pycache__/
*.pyc

# Virtual environment (must override whitelist)
.venv/