# Ignore everything
*

# Allow directories so Git can descend into them
!*/

# Allow selected folders and their contents
!climbing_performance/
!climbing_performance/**
!notebooks/
!notebooks/**
!tests/
!tests/**

# Allow selected root files
!.gitignore
!LICENCE
!README.md
!readme.md
!main.py
!pyproject.toml

# Explicitly ignore generated packaging metadata
climbing_performance.egg-info/